body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;
}

img {
  margin-bottom: 20px;
}
@media print {
  header,
  footer,
  [data-testid="comments-list"] {
    display: none;
  }
}